:root{
  --color-primary: #20b7ff;
  --color-black: #000;
  --color-gray: #555;
  --color-shadow: #232323;
  --background-input: #222;
  --color-bg: #111;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-bg);
  flex-direction: column;
}

input[type="radio"]{
  position: relative;
  width: 120px;
  height: 40px;
  margin: 10px;
  outline: none;
  background: var(--background-input);
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: -5px -5px 20px rgba(255, 255, 255, .1),
              5px 5px 10px rgba(0, 0, 0, 1),
              inset -2px -2px 5px rgba(255, 255, 255, .1),
              inset 2px 2px 5px rgba(0, 0, 0, 1),
              0 0 0 2px #1f1f1f;
  transition: .5s;
}

input[type="radio"]:checked{
  background: var(--color-primary);
}

input[type="radio"]::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background: linear-gradient(to top, var(--color-black), var(--color-gray));
  border-radius: 20px;
  box-shadow: 0 0 0 1px var(--color-shadow);
  transform: scale(.98, .96);
  transition: .5s;
}

input[type="radio"]:checked::before{
  left: 40px;
}

input[type="radio"]::after{
  content: '';
  position: absolute;
  left: 65px;
  width: 4px;
  height: 4px;
  background: var(--color-black);
  top: calc(50% - 2px);
  border-radius: 50%;
  transition: .5s;
}

input[type="radio"]:checked::after{
  left: calc(65px + 40px);
  background: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary),
              0 0 15px var(--color-primary),
              0 0 30px var(--color-primary);
}
